<h1 mat-dialog-title>Update Transaction type</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Transaction Type</mat-label>
    <mat-select
      [formControl]="selectedTransactionType"
      name="transactionType"
      [required]="true"
      [value]="8"
    >
      <mat-option *ngFor="let type of transactionTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
    @if (walletName.invalid) {
    <mat-error>{{ typeErrorMessage() }}</mat-error>
    }
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Wallet name</mat-label>
    <input
      matInput
      type="text"
      [formControl]="walletName"
      name="walletName"
      [required]="true"
      (blur)="updateWalletErrorMessage()"
    />
    @if (walletName.invalid) {
    <mat-error>{{ walletErrorMessage() }}</mat-error>
    }
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="addWallet()">Add</button>
</div>
