<div class="container">
  <div class="page-title">
    {{ pageTitle }}
  </div>

  <button mat-raised-button color="primary" (click)="openAddWalletDialog()">
    Add New Wallet
  </button>

  @if (isLoading()) {
  <div class="spinner"></div>
  } @else if (errorMessage()) {
  <div style="color: red">An error occurred: {{ errorMessage() }}</div>
  } @else { @if (wallets().length) {
  <table mat-table [dataSource]="wallets()" class="mat-elevation-z8">
    <!-- Email Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let wallet">{{ wallet.name }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let wallet">
        {{ getWalletsLabels(wallet.type) }}
      </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let wallet">
        <button
          *ngIf="wallet.type === WalletTypes.Bitcoinwell"
          mat-icon-button
          [routerLink]="['/bitcoinwell-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="wallet.type === WalletTypes.Newton"
          mat-icon-button
          [routerLink]="['/newton-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="wallet.type === WalletTypes.Ledger"
          mat-icon-button
          [routerLink]="['/ledger-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="wallet.type === WalletTypes.Shakepay"
          mat-icon-button
          [routerLink]="['/shakepay-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="wallet.type === WalletTypes.WOS"
          mat-icon-button
          [routerLink]="['/wos-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="wallet.type === WalletTypes.Exodus"
          mat-icon-button
          [routerLink]="['/exodus-transactions', wallet.id]"
          aria-label="View Transactions"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  } @else {
  <div>No wallets found</div>
  } }
</div>
